/*  

CSS / count

*/

.app-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63%;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  margin: -10px 0;
  margin-bottom: 50px;
}

.app-count > p {
  font-size: 22px;
  font-weight: 600;
}

.app-count > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}

.app-count > div > p {
  font-size: 55px;
  font-weight: 600;
  font-family: Proxima Nova Light;
  color: #4f4f4f;
}

.app-count > div > h5 {
  font-size: 15px;
  font-weight: 200;
  margin-top: 4px;
  font-family: Proxima Nova Light;
  color: #4f4f4f;
}

/*

---------- RESPONSIVE ---------- 

*/

@media (max-width: 920px) {
  .app-count {
    width: 95%;
  }
  .app-count > div > p {
    font-size: 36px;
  }
  .app-count > div > h5 {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .app-count > div > p {
    font-size: 30px;
  }
  .app-count > div > h5 {
    font-size: 12px;
  }
  .app-count > div {
    margin: 0 17px;
  }
}
