/*  

CSS / footer

*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  width: 63%;
}

.footer > div {
  backdrop-filter: blur(4px);
  border-radius: 5px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.footer > section {
  height: 100%;
  width: 8px;
  margin: 0 25px;
  background-color: var(--color-border);
}

.footer > div > header {
  display: flex;
  align-items: center;
}

.footer > div > header > p {
  font-size: 38px;
  font-weight: 500;
  margin-right: auto;
  color: var(--color-border);
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
}

.footer a {
  font-size: 13px;
  color: var(--color-border);
  font-weight: 400;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.footer > div > header > img {
  width: 29px;
  margin-left: 22px;
  cursor: pointer;
}

.footer > div > header > img:hover {
  opacity: 0.6;
}

.footer > div > div {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.footer-progamation {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.footer-progamation > p {
  color: #4f4f4f;
  font-size: 28px;
  font-weight: 700;
  margin-right: 15px;
}
.footer-progamation > div {
  display: flex;
  flex-direction: column;
}

.footer-progamation > div > p {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: var(--color-border);
}

.footer-2 {

}

/*

---------- RESPONSIVE ---------- 

*/

@media (max-width: 920px) {
  .footer {
    width: 90%;
  }
}

@media (max-width: 700px) { 
  .footer > div {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }

  .footer-1 {
    margin-right: 0 !important;
  }

  .footer-2 {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}