/*  

CSS / footer

*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  width: 63%;
}

.footer > div {
  backdrop-filter: blur(4px);
  box-shadow: 0 0 45px 5px rgba(110, 110, 110, 0.295);
  border-radius: 5px;
  padding: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer > div > header {
  display: flex;
  align-items: center;
}

.footer > div > header > p {
  font-size: 18px;
  font-weight: 500;
  margin-right: auto;
  color: #333;
}

.footer > div > header > img {
  width: 29px;
  margin-left: 22px;
  cursor: pointer;
}

.footer > div > header > img:hover {
  opacity: 0.6;
}

.footer > div > div {
  margin-top: 10px;
}

.footer > div > div > p {
  font-size: 14px;
  color: #4f4f4f;
}

/*

---------- RESPONSIVE ---------- 

*/

@media (max-width: 920px) {
  .footer {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
  }

  .footer-1 {
    margin-right: 0 !important;
  }

  .footer-2 {
    margin-top: 12px;
    margin-left: 0 !important;
  }
}
