/*  

CSS / global

*/

/*
Bebas Neue
Museo 700
Great Vibes
Raleway Black
Roboto
Open Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s ease;
}

body {
  --azul-1: #0f19ec;
  --azul-2: #6983ef;
  --azul-3: #041c85;
  --azul-4: #6b6cb7;
  --azul-5: #a49ad2;
  --azul-6: #00114f;
  --azul-7: #000b63;
  --azul-8: #001b95;
  --azul-9: #001cae;

  --laranja-1: #fca900;
  --laranja-2: #f9a901;
  --color-border: #A27322;
}

html {
  overflow: hidden;
}
