/*  

CSS / header

*/

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .app-header__banner {
  width: 100%;
  height: 895px;
  margin: 0px;
  background-image: url("../assets/images/capa.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.app-header__banner > img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: cover;
  margin: 0px;
} */

.app-header__banner {
  width: 100%;
  /* height: fit-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  position: relative;
}

.app-header__banner--text {
  position: absolute;
  margin: auto;
  /* margin-top: -150px; */
  width: 100%;
  height: 100%;
  display: flex;
  /* box-shadow: 0px 40px 120px 50px var(--azul-1) inset; */
  /* background: linear-gradient(
    120deg,
    var(--azul-1),
    #041c855c,
    #041c855c,
    #041c8517 62%,
    var(--azul-1)
  ); */
  /* background: linear-gradient(120deg, #041c8547 30%, #041c8537, #041c8540); */
  /* background: linear-gradient(
    120deg,
    rgba(4, 28, 133, 0.28) 30%,
    rgba(4, 28, 133, 0.222),
    rgba(4, 28, 133, 0.222)
  ); */
  background: linear-gradient(
    120deg,
    rgba(30, 31, 36, 0.34) 30%,
    rgba(30, 31, 36, 0.26),
    rgba(30, 31, 36, 0.34)
  );
  /* background: #041c852d;; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-header__banner--text > p {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: -13%;
  font-family: "Raleway", sans-serif;
}

/* .app-header__banner--text > section {
  margin-top: 15px;
  height: 2px;
  background-color: var(--color-border);
  width: 310px;
} */

.app-header__banner--text > h5 {
  color: #fff;
  font-size: 18px;
  /* background-color: var(--color-border); */
  font-weight: 400;
  margin-top: 7px;
}

.app-header__banner--text-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 32px;
  display: flex;
  flex-direction: column;
}

.app-header__banner--text-top > p {
  font-size: 45px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.app-header__banner--text-top > h5 {
  font-size: 50px;
  color: #c3bb62;
  text-align: center;
  font-weight: 700;
  margin-top: -18px;
}
.app-header__banner--text-top > span {
  font-size: 20px;
  color: #c3bb62;
  text-align: right;
  font-weight: 700;
  margin-right: 50px;
  margin-top: -8px;
}

.app-header__banner--text-top > section {
  height: 15px;
  background-color: #c3bb62;
  width: 190px;
}

.app-header__banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

.app-header__banner > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-header__banner > svg {
  width: 29px;
  height: 29px;
  background-color: #4b4a4a69;
  top: 10px;
  border-radius: 10px;
  z-index: 1;
  padding: 3px;
  left: 10px;
  position: fixed;
}

.app-header__banner > svg path {
  stroke: #fff;
}

.app-header > p {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}

.app-header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-top: -220px;
  z-index: 1;
  height: 540px;
  background: #e6e6e6;
  background-repeat: repeat;
  background-size: 100%;
  border-radius: 4px;
  box-shadow: 0 -38px 32px 10px rgba(34, 34, 34, 0.267);
}

.app-header__content > p {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  color: #333;
  font-weight: 500;
  margin-top: 30px;
}

.app-header__content > h5 {
  margin: 15px 0;
  margin-top: -25px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  font-size: 110px;
  font-family: "Bebas Neue", sans-serif;
}

.app-header__content-elder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-header__content-elder > section {
  width: 400px;
  margin-left: 50px;
}

.app-header__content-elder > section > p {
  font-size: 13px;
  color: #4f4f4f;
}
.app-header__content-elder > section > p > b {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #333;
}

.app-header__content-elder > section > h5 {
  margin-top: 8px;
  font-weight: 700;
  font-size: 17px;
  color: var(--color-border);
}

.app-header__content-elder > div > img {
  width: 170px;
  height: 190px;
  border-radius: 0 50px 0 50px;
  object-fit: cover;
  margin-right: 0px;
  position: relative;
  left: -30px;
  top: -30px;
}

.app-header__content-elder > div {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-top: 20px;
  border: 4px solid var(--color-border);
  border-radius: 50px 0 50px 0;
}

.app-header__content-elder > div > section > p {
  color: #4f4f4f;
  font-weight: 600;
  font-size: 23px;
}

/* .app-header__content > div > section > p>b {
  color: var(--laranja-1);
} */

.app-header__content-elder > div > section > h5 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: #4f4f4f;
  font-weight: 300;
  font-size: 20px;
}

/*

---------- RESPONSIVE ---------- 

*/
@media (max-width: 1220px) {
  .app-header__banner {
    height: 600px;
  }
  .app-header__banner--text > p {
    margin-top: -15%;
    font-size: 35px;
  }
  .app-header__banner--text > h5 {
    font-size: 14px;
  }
}

@media (max-width: 1165px) {
  .app-header__content > p {
    font-size: 45px;
    margin-top: 0px;
  }
  .app-header__content > h5 {
    margin: 15px 0;
    margin-top: -15px;
    font-size: 80px;
  }

  .app-header__content-elder > section {
    width: 320px;
    margin-left: 20px;
  }
  .app-header__content-elder > section > p {
    font-size: 12px;
  }
  .app-header__content-elder > section > p > b {
    font-size: 14px;
  }

  .app-header__content-elder > section > h5 {
    margin-top: 6px;
    font-size: 15px;
  }

  .app-header__content-elder > div > img {
    width: 130px;
    height: 140px;
    border-radius: 0 50px 0 50px;
    object-fit: cover;
    margin-right: 0px;
    position: relative;
    left: -30px;
    top: -30px;
  }

  .app-header__content-elder > div {
    padding-right: 15px;
    margin-top: 15px;
    border: 4px solid var(--color-border);
    border-radius: 40px 0 40px 0;
  }

  .app-header__content-elder > div > section > p {
    font-size: 16px;
    width: 200px;
  }

  .app-header__content-elder > div > section > h5 {
    margin-top: 8px;
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .app-header__banner {
    height: 450px;
  }
  .app-header__banner--text > p {
    margin-top: -18%;
    font-size: 28px;
  }
  .app-header__banner--text > h5 {
    font-size: 13px;
  }
  .app-header__content > p {
    font-size: 35px;
    margin-top: 0px;
  }
  .app-header__content > h5 {
    margin: 15px 0;
    margin-top: -15px;
    font-size: 70px;
  }
  .app-header__content > div > section > p {
    font-size: 22px;
  }
  .app-header__content > div > section > h5 {
    font-size: 22px;
  }
  .app-header__content {
    width: 96%;
    margin-top: -15%;
    height: 350px;
  }
}
@media (max-width: 799px) {
  .app-header__banner {
    height: 400px;
  }
  .app-header__banner--text > p {
    margin-top: -18%;
    font-size: 25px;
  }
  .app-header__banner--text > h5 {
    font-size: 12px;
  }
  .app-header__content > p {
    font-size: 32px;
    margin-top: 0px;
  }
  .app-header__content > h5 {
    margin: 15px 0;
    margin-top: -15px;
    font-size: 65px;
  }
  .app-header__content-elder {
    flex-direction: column;
    margin-top: 10px;
  }
  .app-header__content-elder > section {
    margin-top: 20px;
    margin-left: 0;
  }
  .app-header__content {
    height: 550px;
  }
}

@media (max-width: 500px) {
  .app-header__banner {
    height: 320px;
  }
  .app-header__banner--text > p {
    margin-top: -18%;
    font-size: 24px;
  }
  .app-header__banner--text > h5 {
    font-size: 12px;
  }
  .app-header__content > p {
    font-size: 28px;
    margin-top: 0px;
  }
  .app-header__content > h5 {
    margin: 15px 0;
    margin-top: -10px;
    font-size: 45px;
  }
  .app-header__content-elder > section {
    margin-top: 20px;
  }
  .app-header__content {
    height: 500px;
  }
  .app-header__content-elder > div > img {
    width: 80px;
    height: 90px;
    border-radius: 0 30px 0 30px;
    left: -25px;
    top: -25px;
  }
  .app-header__content-elder > div {
    padding-right: 15px;
    margin-top: 15px;
    border: 4px solid var(--color-border);
    border-radius: 30px 0 30px 0;
  }
  .app-header__content-elder > div > section > p {
    font-size: 14px;
  }

  .app-header__content-elder > div > section > h5 {
    margin-top: 6px;
    font-size: 12px;
  }

  .app-header__content-elder > section {
    width: 90%;
    text-align: center;
  }
  .app-header__content-elder > section > p {
    font-size: 12px;
    text-align: center;
  }
  .app-header__content-elder > section > p > b {
    font-size: 14px;
  }

  .app-header__content-elder > section > h5 {
    margin-top: 6px;
    font-size: 15px;
  }
}
